/*Styles 4 Miles*/

body
{
  background-color: AliceBlue;
      color: DarkslateBlue;
    font-family: 'Montserrat Subrayada', sans-serif;

  }

  p{line-height: 3;}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: grey;
}
      h1
      {font-weight: bold;
        font-style: italic;
        font-size: 28px;
        text-align: center;
      {color: red;}
      h5
      {font-size: 28;}
       {color:9932CC;}
